.date-picker {
 input[type='date']::before {
  content: attr(placeholder);
  position: absolute;
  color: $white;
 }
 input[type='date']::-webkit-calendar-picker-indicator {
  background-image: url('../../assets/svg/dateIcon.svg');
  cursor: pointer;
 }
 input[type='date'] {
  color: $primary;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: $primary;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
  border: none;
  padding: 9px 10px;
  border-radius: 0.3em;
  margin: 0.7em;
 }

 input[type='date']:focus,
 input[type='date']:valid {
  color: $white;
 }

 input[type='date']:focus::before,
 input[type='date']:valid::before {
  content: '';
 }
}
