$primary: #1BC5BD;
$hover-primary: #2c9c95a6;
$primary-light: #7d9eb5;
$hover-primary-light: #7d9eb59c;
$primary-transparent: #2c9c9433;
$primary-background: #F1FAFE;
$black: #000000;
$black-transparent: #000000a6;

$yellow: #F6CA65;
$hover-yellow: #f3ce78;

$white: #ffffff;
$secondary: #005B96;
$hover-secondary: #166498;
$light-grey: #f3f7f9;
$light-grey-2: #dfe2e6;
$dark-grey: #7E8299;
$grey: #CDCCCC;
$dark-grey-2: #979797;
$hover-dark-grey-2: #9797978e;


$critical: #ff4040;
$hover-critical: #ff40408e;
